@{
    ViewData["Title"] = "crearTareas";
}

<form action="@Url.Action("CrearTareaGuardar","Home")" method="post">
    titulo: <input type="text" name="titulo" />
    
    descripcion: <input type="password" name="descripcion" />
   
    fecha: <input type="date" name="fecha" />
   
    finalizada: <input type="radio" name="finalizada" />
    
    <input type="submit" value="CrearTareaGuardar" />
</form>