@{
    ViewData["Title"] = "LOGIN";
}
<section class="Login"> 
  <a href='@Url.Action("pistas", "Home")'><img src="~/imgs/pergaminopistas.png" alt= "pista" class="pista"></a>
  


<form action='@Url.Action("Login", "Account")' method="post">
  UserName <input type="text" name="username" required>
  Password <input type="password" name="password" required>
  <input type="submit" value="Entrar" autoComplete = "off">
</form>

<section class="Registrate"> 
  <a href='@Url.Action("Registrate", "Account")'></a>
</section>

<section class="CerrarSesion"> 
  <a href='@Url.Action("CerrarSesion", "Account")'></a>
</section>